<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="parseFolder" value="..\..\..\Handler" />
    <add key="routingFolder" value="..\..\..\Routing" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>