<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="netinterop">
      <section name="system" type="NetInterop.Routing.Configuration.SystemSection, NetInterop.Routing.Configuration"/>
      <section name="image" type="NetInterop.Routing.Image.Configuration.ImageSection, NetInterop.Routing.Image.Configuration"/>
      <section name="ospf" type="NetInterop.Routing.Ospf.Configuration.OspfSection, NetInterop.Routing.Ospf.Configuration"/>
      <section name="tcp" type="NetInterop.Routing.Tcp.Configuration.TcpSection, NetInterop.Routing.Tcp.Configuration"/>
      <section name="http" type="NetInterop.Routing.Http.Configuration.HttpSection, NetInterop.Routing.Http.Configuration"/>
      <section name="rip" type="NetInterop.Routing.Rip.Configuration.RipSection, NetInterop.Routing.Rip.Configuration"/>
    </sectionGroup>
  </configSections>
  <netinterop>
    <system configSource="Config_\NetInterop.System.config"/>
    <image configSource="Config_\NetInterop.Image.config"/>
    <rip configSource="Config_\NetInterop.Rip.config"/>
    <ospf configSource="Config_\NetInterop.Ospf.config"/>
    <tcp configSource="Config_\NetInterop.Tcp.config"/>
    <http configSource="Config_\NetInterop.Http.config"/>
  </netinterop>
  <appSettings>
    <add key="parseFolder" value="..\..\..\Handler"/>
    <add key="routingFolder" value="..\..\..\Routing"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>