<system>
  <routers>
    <!--<add name="rip" />-->
    <!--<add name="ospf" />-->
    <add name="image" />
    <add name="icmp" />
    <add name="tcp" />
    <add name="http" />
  </routers>
  <interfaces>
    <!--h-->
    <add id="F063AD2D-214E-4CE2-AA42-3CFE31456FB4" disabled="false" />
    <!--w-w-->
    <add id="12A8CADC-20F3-4586-BDE5-F5EF859C9991" disabled="false" ipMtu="1500" />
    <!--w-v-->
    <!--<add id="24290CE3-F5E3-4988-9108-A22614CBEBE5" disabled="false" ipMtu="1500" />-->
  </interfaces>
  <arpCache gratuitousOnStartup="false">
    <add address="10.1.1.254" />
    <add address="208.16.17.28" />
    <add address="10.1.155.1" />
    <add address="10.1.144.22" />
  </arpCache>
  <addresses>
    <add index="4" name="Realtek PCIe GBE Family Controller" id="F063AD2D-214E-4CE2-AA42-3CFE31456FB4" ip="10.1.1.1"
         mask="255.255.255.0" gateway="10.1.1.254" mac="48:5B:39:CA:B0:27">
      <secondaries>
        <add address="10.1.1.1" mask="255.255.255.0" />
      </secondaries>
      <ipv6Addresses>
        <add address="38E4::1" mask="48" />
      </ipv6Addresses>
    </add>
  </addresses>
  <!--<routes>
    <add network="10.20.0.0" mask="255.255.0.0" nextHop="10.1.1.254" />
  </routes>-->
  <loopbacks>
    <add id="0" ip="10.91.1.1" mask="255.255.0.0">
      <secondaries>
        <add address="10.191.1.1" mask="255.255.255.0" />
      </secondaries>
      <ipv6Addresses>
        <add address="38E4::1" mask="48" />
      </ipv6Addresses>
    </add>
    <add id="1" ip="10.92.1.1" mask="255.255.0.0" />
    <add id="2" ip="172.16.1.1" mask="255.255.255.0" v6ip="3EF0:1:" v6mask="48" />
    <add id="3" ip="172.16.2.1" mask="255.255.255.0" v6ip="3EF0:2:" v6mask="48" />
    <add id="4" ip="192.168.5.11" mask="255.255.255.0" />
  </loopbacks>
  <debug>
    <add category="HTTP" />
    <add category="TCP" />
    <add category="ICMP" />
    <add category="IMAGE" />
    <add category="RIP" />
    <add category="OSPF" />
    <add category="SYSTEM" />
  </debug>
</system>