<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="netinterop">
      <section name="system" type="NetInterop.Routing.Configuration.SystemSection, NetInterop.Routing.Configuration" />
      <section name="ospf" type="NetInterop.Routing.Ospf.Configuration.OspfSection, NetInterop.Routing.Ospf.Configuration" />
      <section name="rip" type="NetInterop.Routing.Rip.Configuration.RipSection, NetInterop.Routing.Rip.Configuration" />
    </sectionGroup>
  </configSections>
  <runtime>
    <developmentMode developerInstallation="true"/>
  </runtime>
  <netinterop>
    <system configSource="Config_\NetInterop.System.config" />
    <rip configSource="Config_\NetInterop.Rip.config" />
    <ospf configSource="Config_\NetInterop.Ospf.config" />
  </netinterop>
  <appSettings>
    <add key="parseFolder" value="..\Handler" />
    <add key="routingFolder" value="..\Routing" />
  </appSettings>
</configuration>