<ospf>
  <areas>
    <setup area="1" />
    <setup area="2" />
  </areas>
  <interfaces passiveDefault="false">
    <settings id="F063AD2D-214E-4CE2-AA42-3CFE31456FB4" type="Broadcast" hello="10" dead="40" priority="1" cost="100"
              delay="1" rxmt="5" authType="Null" passive="false" />
    <!--<add area="1" hello="5" dead="10" />
    <add area="2" interfaceName="second" />
 -->
  </interfaces>
  <networks>
    <!-- of the ones that match, the most specific match wins-->
    <add area="0" network="10.1.1.0" mask="0.0.0.255" />
    <add area="2" network="10.1.0.0" mask="0.0.255.255" />
    <add area="1" network="10.1.1.0" mask="0.255.255.255" />
    
    <add area="0" network="172.16.0.0" mask="0.0.255.255" />

    <!--<add area="1" network="192.168.5.0" mask="0.0.0.255" />
    <add area="2" network="192.168.5.0" mask="0.0.255.255" />
    <add area="0" network="192.168.5.0" mask="0.255.255.255" />-->
  </networks>
</ospf>